﻿<%@ Page Language="c#" AutoEventWireup="false" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>

<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections" %>
<%@ Import Namespace="System.Configuration" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="CPA.BusinessFacade" %>
<%@ Import Namespace="CPAmemotech.Desktop.Components" %>
<%@ Import Namespace="System.Threading" %>
<%@ Import Namespace="CPAmemotech.Portal" %>
<%@ Import Namespace="System.Reflection" %>

<%  Response.Expires = -1;
    // Declare a string to hold the title of your SQL procedure
    string strFilePath = ConfigurationManager.AppSettings["FilePath"];
    string strProcName = "cs_CustomIndicator";

    // Retrieve Parameters passed in URL
    string caseKey = string.Empty;
    if (Request["CaseKey"] != null)
    {
        caseKey = Request["CaseKey"];
    }
    // Build Hashtable of Parameters
    Hashtable hshParam = new Hashtable();
    hshParam.Add("CaseKey", caseKey);
    //Call to BusinessFacade layer. The line below should not be modified
    DataSet ds = new DataSet();
    ds = CaseManagement.WebLinkDbCall(Personalisation.CurrentUserIdentity, Thread.CurrentThread.CurrentCulture.ToString(), null, strProcName, hshParam);

    string lookinForthisPath = ds.Tables[0].Rows[0][0].ToString();
    //object[] temp = new object[] { ds.Tables[0].Rows[0][0].ToString() };
    object[] temp = new object[] { @"\F\F-1300\F-1318\"  };

    System.Reflection.Assembly totalAssembly = System.Reflection.Assembly.Load("CPA.EMEA.TOTAL.DocDispatch.BU");
    Type t = totalAssembly.GetType("CPA.EMEA.TOTAL.DocDispatch.BU.ExternalCall");
    object result = t.InvokeMember("GetFilePath", BindingFlags.InvokeMethod, System.Type.DefaultBinder,"",temp);

    string test = result.ToString();


%>
<html>
  <head>
    <style>body {font-family: Verdana; font-size: xx-small; font-weight: bold; font-style: normal; font-variant: normal; color: #FF0000}</style>
  </head>
  <body>
    <form id="Form1" method="post" action="CaseCustomIndicator.aspx" class="" >
      <a href="file://<%=lookinForthisPath%>" target="_new">//<%=lookinForthisPath%></a><br /><br />
        <%=test%>
    </form>
  </body>
  <script type="text/javascript">
   var ifr;
    for(var i=0;i<parent.document.getElementsByTagName('iframe').length;i++)
    {
      ifr=parent.document.getElementsByTagName('iframe')[i];
      if (parent.frames[i].document == document)
      {
        ifr.height=document.body.scrollHeight;
        break;
      }
    }
  </script>

</html>
